<head>
  <link rel="stylesheet" href="animate.min.css">
</head>
<body>
  <section class="container welcome animated fadeInLeft">
    <h1>Welcome to <%= image_tag("chef-u.png") %>!</h1></section>  
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2200">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="recipes/13"><%= image_tag("asian_salad_salmon.jpg") %></a>
          <div class="carousel-caption salmon">
            <h4>Mmmm...</h4>
          </div>
        </div>
        <div class="item">
          <a href="recipes/7"><%= image_tag("gnocchi_with_sweet_corn.jpg") %></a>
          <div class="carousel-caption gnocchi">
            <h3>Delicious?</h3>
          </div>
        </div>
        <div class="item">
          <a href="recipes/11"><%= image_tag("butternut_squash_bread_pudding.jpg") %></a>
          <div class="carousel-caption pudding">
            <h2>Absolutely.</h2>
          </div>
        </div>
        <div class="item">
          <a href="recipes/14"><%= image_tag("biscuit_pot_pie.jpg") %></a>
          <div class="carousel-caption biscuit">
            <h4>Nutritious?</h4>
          </div>
        </div>
        <div class="item">
          <a href="recipes/18"><%= image_tag("mac_n_cheese.jpg") %></a>
          <div class="carousel-caption macnchz">
            <h3>Not necessarily.</h3>
          </div>
        </div>
        <div class="item">
          <a href="recipes/12"><%= image_tag("black_eyed_pea_hummus.jpg") %></a>
          <div class="carousel-caption black-eye">
            <h2>You<br>can<br>make<br> anything...</h2>
          </div>
        </div>
        <div class="item">
          <a href="recipes/5"><%= image_tag("beef_stroganoff.jpg") %></a>
          <div class="carousel-caption stroganoff">
            <h1>Chef's choice!</h1>
          </div>
        </div>
        ...
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>  
</body>